<div class="{{ class |  append: '__background' }} menu-background">
    <div class="menu-background__wrap">
        <div class="menu-background__portion"></div>
        <div class="menu-background__portion"></div>
        <div class="menu-background__portion"></div>
    </div>
</div>
