<ul class="footer-info__payment payment">
    <li class="payment__item">
        {% render 'icon-payment-amex' %}
    </li>
    <li class="payment__item">
        {% render 'icon-payment-applepay' %}
    </li>
    <li class="payment__item">
        {% render 'icon-payment-dinersclub' %}
    </li>
    <li class="payment__item">
        {% render 'icon-payment-discover' %}
    </li>
    <li class="payment__item">
        {% render 'icon-payment-googlepay' %}
    </li>
    <li class="payment__item">
        {% render 'icon-payment-maestro' %}
    </li>
    <li class="payment__item">
        {% render 'icon-payment-mastercard' %}
    </li>
    <li class="payment__item">
        {% render 'icon-payment-paypal' %}
    </li>
    <li class="payment__item">
        {% render 'icon-payment-shoppay' %}
    </li>
    <li class="payment__item">
        {% render 'icon-payment-unionpay' %}
    </li>
    <li class="payment__item">
        {% render 'icon-payment-visa' %}
    </li>
</ul>
