<ul class="add-bar__running-line running-line">
    <li class="running-line__item">Innovations That Wow</li>
    <li class="running-line__item">Gadgets You Didn't Know You Needed</li>
    <li class="running-line__item">Making Life Easier, One Gadget at a Time</li>
    <li class="running-line__item">Discover. Innovate. Simplify</li>
    <li class="running-line__item">Your Home for the Unexpected</li>
    <li class="running-line__item">Gadgets That Get the Job Done</li>
    <li class="running-line__item">Big Ideas in Small Packages</li>
</ul>
