<footer class="page__footer footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="footer-logo">
                    {% render 'logo-txt' %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8">
                <ul class="footer-menu">
                    {% for link in linklists.footer.links %}
                        <li class="footer-menu__item">
                            <a href="{{ link.url }}" class="footer-menu__link {% if link.active %}main-menu__link_active{% endif %}">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="footer-info">
                    <div class="footer-info__item copyright">
                        © 2024 OhMyGadget
                    </div>
                    {% render 'payment-systems' %}
                </div>
            </div>
        </div> 
    </div>
</footer>
